<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Home", "Index", "Produit", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Display One", "DisplayOneProduct", "Produit", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Display Many", "DisplayManyProducts", "Produit", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>